/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* img */
img {
  max-width: 50px;
  float: left;
  margin-right: 10px;
}

/* Navbar container */
.navbar-custom {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

/* Links inside the navbar */
.navbar-custom a,
.navbar-custom .dropdown-toggle {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  margin: 0;
}

.navbar-custom a:hover,
.navbar-custom .dropdown-toggle:hover {
  background-color: red;
  color: white;
}

/* Dropdown menu */
.dropdown-menu {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}
