/* Sticky Navbar */

/* Logo image */
.logo-img {
  height: 40px;
  width: auto;
  border-radius: 6px;
}

/* Navbar links */
.navbar-nav .nav-link {
  font-size: 16px;
  padding: 10px 16px;
  color: rgb(246, 243, 235) !important;
  transition: background-color 0.3s ease;
}

/* Mobile collapse background */
@media (max-width: 991px) {
  .navbar-collapse {
    background-color: none;
    text-align: center;
    padding: 10px;
  }

  .navbar-collapse .nav-link:hover {
    background-color: rgb(52, 93, 47);
    color: #fff !important;
  }
}
