.body-pagelayout {
  background-color: rgb(246, 243, 235);
}

main {
  padding: 20px;
}

.tremorParkinson-section {
  margin-bottom: 50px;
}

.spacing {
  margin-bottom: 50px;
}

.row {
  background-color: rgb(52, 93, 47, 0.6);
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;       /* allow image to scale naturally */
  object-fit: contain; /* shows the whole image */
  border-bottom: 1px solid #ddd; /* optional, separates image from card-body */
}

.card-body {
  padding: 15px;
  background-color: #fff;
}

.card-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 0.95rem;
}
